<div class="d-flex flex-column min-vh-100">
  <app-navbar *ngIf="showNavbarFooter"></app-navbar>

  <div class="d-flex flex-grow-1" [ngStyle]="{'padding-top': showNavbarFooter ? '56px' : '0'}">
    <app-sidebar *ngIf="showNavbarFooter"></app-sidebar>

    <main class="flex-grow-1 p-3"
          [ngClass]="{'bg-light': showNavbarFooter, 'no-nav-footer': !showNavbarFooter}"
          [ngStyle]="{
            'margin-left': showNavbarFooter ? '250px' : '0',
            'width': showNavbarFooter ? 'calc(100% - 250px)' : '100%'
          }">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>

  <app-footer *ngIf="showNavbarFooter"></app-footer>
</div>
